<nav class="bg-gray-700 border-b border-gray-600">
  <div class="max-w-full flex items-center justify-between mx-Sauto py-0 px-3">

    <!-- Logo bien a la izquierda con imagen -->
    <a href="/" class="flex items-center space-x-2 ">
      <!-- Imagen del logo en dorado -->
      <img src="assets/logo-copia.png" alt="TerrenaitorRover Logo" class="w-18 h-18 object-contain block" />
      
      <!-- Texto de marca -->
      <span class="text-lg font-semibold text-white">TerrenaitorRover</span>
    </a>

    <!-- Menú de navegación alineado a la derecha -->
    <div class="hidden md:flex ml-170" id="navbar-default">
      <ul class="font-medium flex flex-col md:flex-row md:space-x-6 p-4 md:p-0 mt-4 md:mt-0 bg-gray-700 md:bg-transparent">

        <li><a routerLink="/home" routerLinkActive="text-yellow-400" class="text-white text-lg hover:text-yellow-400 px-3 py-2">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="text-yellow-400" class="text-white text-lg hover:text-yellow-400 px-3 py-2">About</a></li>
        <li><a routerLink="/projects" routerLinkActive="text-yellow-400" class="text-white text-lg hover:text-yellow-400 px-3 py-2">Projects</a></li>
        <li><a routerLink="/team" routerLinkActive="text-yellow-400" class="text-white text-lg hover:text-yellow-400 px-3 py-2">Team</a></li>
        <li><a routerLink="/sponsors" routerLinkActive="text-yellow-400" class="text-white text-lg hover:text-yellow-400 px-3 py-2">Sponsors</a></li>
        <li><a routerLink="/events" routerLinkActive="text-yellow-400" class="text-white text-lg hover:text-yellow-400 px-3 py-2">Events</a></li>
        <li><a routerLink="/contact" routerLinkActive="text-yellow-400" class="text-white text-lg hover:text-yellow-400 px-3 py-2">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
